
h4{
    color: rgb(132, 58, 24);
}

form{
    width: 30rem;
    height: 48rem;
    border-radius: 4rem;
    margin-left: 25rem;
    padding-top: 3rem;
    background-color:white;
    box-sizing: border-box;
    align-items: justify;
    justify-content: center;
}
form label{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
form input{
    height: 2rem;
    width: 70%;
    border-radius: 2rem;
    background-color: white;
    border-color: white;
}